version: '3.8'

services:
  backend:
    build:
      context: ./src
    volumes:
      - rootsearch_data:/data
    env_file:
      - .env.production
    networks:
      - rootsearch_net
    restart: always

  frontend:
    build:
      context: ./web
    volumes:
      - rootsearch_data:/data
    env_file:
      - .env.production
    networks:
      - rootsearch_net
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - rootsearch_net
    depends_on:
      - frontend
      - backend
    restart: always

volumes:
  rootsearch_data:


networks:
  rootsearch_net:
